<div class="container">
    <h3>My Cart</h3>
    <div class="alert alert-info" *ngIf="items.length === 0">
        <p class="lead text-center">Your cart is empty </p>
    </div>
    <div *ngFor="let item of items">
        <div class="alert alert-secondary">
            <!-- <img src="{{ item.url }}"> -->
            <h5>{{ item.name }}</h5>
            <p>{{ item.quantity }}</p>
            <button class="btn btn-danger" type="submit" (click)="onRemove(item.id)"> <i class="fa fa-trash"></i> </button>
        </div>


    </div>
    <p *ngIf="subtotal != 0">Subtotal: {{ subtotal | currency: 'EUR' }}</p>
</div>
