<form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="text" name="name" id="name" class="form-control my-2" required [(ngModel)]="customer.name" placeholder="Name" #name="ngModel">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        Missing Name
    </div>

    <input type="text" name="address" id="address" class="form-control my-2" required [(ngModel)]="customer.address" placeholder="Address" #address="ngModel">
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
        Missing Address
    </div>

<input type="text" name="cardNumber" id="cardNumber" class="form-control" required [(ngModel)]="customer.cardNumber" placeholder="Card Number (no spaces)" #cardNumber="ngModel" minlength="16" pattern="^[0-9]+$">
<div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger">
    Missing or Invalid Card Number
</div>
    <button class="btn btn-sm btn-success btn-block my-2" [disabled]="!form.valid" type="submit">Place Order</button>
</form>